section.canhcam-home-1
	article.list-items
		a(href="#")
			.item
				img(src="./img/home/home_banner_3.jpg", alt="")
			//- .title
			//- 	.container
			//- 		.text
			//- 			.group_1
			//- 				h2 Bộ Đồ Thờ Cúng Bạc
			//- 				h2 Đầu Thế Kỷ 20
			//- 			.group_2
			//- 				p Gold’s Jewelry Silver
			//- 				p Early 20th Century
		a(href="#")
			.item
				img(src="./img/home/home_banner_1.png", alt="")
		a(href="#")
			.item
				img(src="./img/home/home_banner_1.png", alt="")
			//- .title
			//- 	.container
			//- 		.text
			//- 			.group_1
			//- 				h2 Nhẫn Hình Bò Nandin Vàng
			//- 				h2 Văn Hóa Óc Eo, Thế Kỷ 3-5
			//- 			.group_2
			//- 				p Gold Ring With Seated Bull 
			//- 					br
			//- 					| (Nandin) Motif Gold
			//- 				p Óc Eo Culture, 3nd - 5th Century

