section.canhcam-home-2
	.container
		.row
			.col-lg-4.info
				.row
					.col
						h3.text-left.title Thông tin
				.row.detail(style="overflow-x: hidden" data-aos="fade-up-right" data-aos-duration="2000")
					.col
						.row.time
							.col-4
								h5 Giờ
									br
									|  tham quan
							.col-8
								h4 Sáng
									span 8:00 - 11:00
								h4 Chiều
									span 13:30 - 16:30
								p.text-center (từ Thứ Hai đến Chủ Nhật)
						.row.location
							.col-4
								h5 Địa chỉ
									br
									|  bảo tàng
							.col-8
								h4 Số 2, Nguyễn Bỉnh Khiêm, P. Bến Nghé, Q. 1, Tp. HCM, VN.
						.row.more
							.col.text-center.reg
								a(href="#")
									h3 
										|
										i.lnr.lnr-mic
										| Đăng ký Thuyết minh
							.col.text-center.reg
								a(href="#")
									h3
										|
										i.lnr.lnr-map
										| phương hướng
							.col.text-center.reg
								a(href="#")
									h3 
										|
										i.lnr.lnr-users
										| phí tham quan

			.col-lg-4.news
				.row
					.col
						h3.text-left.title Tin tức
							a(href="#")
								i.fas.fa-plus-square
				.row(data-aos="fade-up" data-aos-duration="2000")
					.col
						figure.hot-news
							.img
								img.w-100(src='./img/home/home_tintuc_thumbnail.png', alt='')
							figcaption
								a(href="#")
									h5 Tiếp nhận bộ sưu tập hiện vật quý từ CHLB Đức dành cho Bảo Tàng Lịch Sử Việt Nam.
				.row(data-aos="fade-up" data-aos-duration="2000")
					.col-12
						.sub-news
							a(href="#")
								h5 Khởi công công trình nghiên cứu, khai quật tàu cổ Dung Quất (Quảng Ngãi)
					.col-12
						.sub-news
							a(href="#")
								h5 Khai mạc trưng bày "Nét vàng son – Đồ gỗ phủ vàng Việt Nam" tại Bảo tàng tỉnh Lạng Sơn
					.col-12
						.sub-news
							a(href="#")
								h5 Trưng Bày: “Văn học - Nghệ thuật trong kháng chiến (1945-1954)”
			.col-lg-4.event
				.row
					.col
						h3.text-left.title Sự kiện mới
							i.play.fas.fa-play
							i.pause.fas.fa-pause
				.row
					.col(style="overflow-x: hidden" data-aos="fade-up-left" data-aos-duration="2000")
						.list-items
							a(href="#")
								.item
									img.w-100(src='./img/home/home_sukien_thumbnail.png', alt='')
							a(href="#")
								.item
									img.w-100(src='./img/home/home_sukien_thumbnail.png', alt='')
							a(href="#")
								.item
									img.w-100(src='./img/home/home_sukien_thumbnail.png', alt='')
							a(href="#")
								.item
									img.w-100(src='./img/home/home_sukien_thumbnail.png', alt='')
				.row(data-aos="fade-up-left" data-aos-duration="2000" style="overflow-x: hidden")
					.col
						.social
							a(href="#")
								i.fab.fa-youtube
							a(href="#")
								i.fab.fa-twitter
							a(href="#")
								i.fab.fa-facebook-f
							a(href="#")
								i.fab.fa-instagram
				.row(data-aos="fade-up-left" data-aos-duration="2000" style="overflow-x: hidden")
					.col
						.dropdown.show
							a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle( role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
								| Liên kết các bảo tàng
							.dropdown-menu#link(aria-labelledby='dropdownMenuLink')
								a.dropdown-item(href='#') Action
								a.dropdown-item(href='#') Another action
								a.dropdown-item(href='#') Something else here
								a.dropdown-item(href='#') Something else here
								a.dropdown-item(href='#') Something else here
								a.dropdown-item(href='#') Something else here
								a.dropdown-item(href='#') Something else here
								a.dropdown-item(href='#') Something else here
								a.dropdown-item(href='#') Something else here
								a.dropdown-item(href='#') Something else here
								a.dropdown-item(href='#') Something else here
								a.dropdown-item(href='#') Something else here
								a.dropdown-item(href='#') Something else here
