section.canhcam-vision-1.pb-0(bg-img='./img/_global/bg_1.png')
	.container
		.row
			.col
				include ../../nav/n-1/index.pug
section.canhcam-vision-1.pt-0(bg-img='./img/_global/bg_1.png')
	.container
		.row
			.col
				h2.head-title Phương hướng 
		.row
			.col-lg-6
				.detail(data-aos="fade-up"  data-aos-duration="2000")
					h4 Xe buýt
					ul
						li Phối hợp công ty Du lịch Ảnh Việt “Hop on – Hop off.vn” : ĐT: 028 3913674412
						li Xe buýt số: 52, 06, 14, 19, 45, 30, 56
					h4 Xe ô tô
					p Taxi Mai Linh, taxi Vinasun…
					h4 Bãi đậu xe
					p Sức chứa khoảng 10 xe ô tô 16 chỗ, các loại phương tiện khác đậu dọc đường Nguyễn Bỉnh Khiêm hướng ra đường Nguyễn Hữu Cảnh….
					p 
						span Ghi chú: 
						| Để đèn nháy báo hiệu và xe trong tình trạng nổ máy.
						
			.col-lg-6(data-aos="fade-up"  data-aos-duration="2000")
				figure(bg-img='./img/07_phuonghuong/phuonghuong_1.png')
					img.w-100.d-lg-none(src='./img/07_phuonghuong/phuonghuong_1.png', alt='')
