.othernews(data-fix="80", data-fix-type="initial", data-fix-change="sticky")
	h2 Tin tức khác
	hr
	.lists
		- for (var i = 0; i < 3 ; i++)
			a.item(href="#")
				figure
					.img
						img(src="./img/02_tintuc/tintuc_img_2.png", alt="alt")
					figcaption
						h3 Rome - bảo tàng vĩ đại của thế giới 
						time 12/12/2017

