2015-05-15 16:01:16,440 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2015-05-15 16:01:16,534 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - deserialized WebTaskManager task 
2015-05-15 16:01:16,540 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - Queued WebTaskManager on a new thread 
2015-05-15 16:01:25,199 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2015-05-15 16:01:25,362 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - Queued WebTaskManager on a new thread 
2015-05-15 16:01:25,660 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - deserialized WebTaskManager task 
2015-05-15 16:01:35,901 INFO 192.168.1.93 - en-US - /Default.aspx - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/banner/Homeintro.xslt not found 
2015-05-15 16:01:36,176 ERROR 192.168.1.93 - (null) - (null) - CanhCam.Web.Global - 192.168.1.93 /Data/Sites/1/skins/default/favicon.ico Referrer(none) useragent Mozilla/5.0 (Windows NT 6.1; WOW64; rv:37.0) Gecko/20100101 Firefox/37.0 
System.Web.HttpException (0x80004005): File does not exist.
   at System.Web.StaticFileHandler.ProcessRequestForNonMapPathBasedVirtualFile(HttpRequest request, HttpResponse response, String overrideVirtualPath)
   at System.Web.StaticFileHandler.ProcessRequestInternal(HttpContext context, String overrideVirtualPath)
   at System.Web.DefaultHttpHandler.BeginProcessRequest(HttpContext context, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)
2015-05-15 16:01:36,310 ERROR 192.168.1.93 - (null) - (null) - CanhCam.Web.Global - 192.168.1.93 /Data/Sites/1/media/intro/intro-chuyennhuong.jpg Referrer(http://localhost:17537/Default.aspx) useragent Mozilla/5.0 (Windows NT 6.1; WOW64; rv:37.0) Gecko/20100101 Firefox/37.0 
System.Web.HttpException (0x80004005): File does not exist.
   at System.Web.StaticFileHandler.ProcessRequestForNonMapPathBasedVirtualFile(HttpRequest request, HttpResponse response, String overrideVirtualPath)
   at System.Web.StaticFileHandler.ProcessRequestInternal(HttpContext context, String overrideVirtualPath)
   at System.Web.DefaultHttpHandler.BeginProcessRequest(HttpContext context, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)
2015-05-15 16:01:36,310 ERROR 192.168.1.93 - (null) - (null) - CanhCam.Web.Global - 192.168.1.93 /Data/Sites/1/media/Logo/intro-logo.png Referrer(http://localhost:17537/Default.aspx) useragent Mozilla/5.0 (Windows NT 6.1; WOW64; rv:37.0) Gecko/20100101 Firefox/37.0 
System.Web.HttpException (0x80004005): File does not exist.
   at System.Web.StaticFileHandler.ProcessRequestForNonMapPathBasedVirtualFile(HttpRequest request, HttpResponse response, String overrideVirtualPath)
   at System.Web.StaticFileHandler.ProcessRequestInternal(HttpContext context, String overrideVirtualPath)
   at System.Web.DefaultHttpHandler.BeginProcessRequest(HttpContext context, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)
2015-05-15 16:01:36,310 ERROR 192.168.1.93 - (null) - (null) - CanhCam.Web.Global - 192.168.1.93 /Data/Sites/1/media/intro/intro-thue.jpg Referrer(http://localhost:17537/Default.aspx) useragent Mozilla/5.0 (Windows NT 6.1; WOW64; rv:37.0) Gecko/20100101 Firefox/37.0 
System.Web.HttpException (0x80004005): File does not exist.
   at System.Web.StaticFileHandler.ProcessRequestForNonMapPathBasedVirtualFile(HttpRequest request, HttpResponse response, String overrideVirtualPath)
   at System.Web.StaticFileHandler.ProcessRequestInternal(HttpContext context, String overrideVirtualPath)
   at System.Web.DefaultHttpHandler.BeginProcessRequest(HttpContext context, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)
2015-05-15 16:01:36,353 ERROR 192.168.1.93 - (null) - (null) - CanhCam.Web.Global - 192.168.1.93 /Data/Sites/1/skins/default/favicon.ico Referrer(none) useragent Mozilla/5.0 (Windows NT 6.1; WOW64; rv:37.0) Gecko/20100101 Firefox/37.0 
System.Web.HttpException (0x80004005): File does not exist.
   at System.Web.StaticFileHandler.ProcessRequestForNonMapPathBasedVirtualFile(HttpRequest request, HttpResponse response, String overrideVirtualPath)
   at System.Web.StaticFileHandler.ProcessRequestInternal(HttpContext context, String overrideVirtualPath)
   at System.Web.DefaultHttpHandler.BeginProcessRequest(HttpContext context, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)
2015-05-15 16:01:36,523 ERROR 192.168.1.93 - (null) - (null) - CanhCam.Web.Global - 192.168.1.93 /Data/Sites/1/skins/default/css/img/loading.gif Referrer(http://localhost:17537/Data/Sites/1/skins/default/css/plugins.min.css) useragent Mozilla/5.0 (Windows NT 6.1; WOW64; rv:37.0) Gecko/20100101 Firefox/37.0 
System.Web.HttpException (0x80004005): File does not exist.
   at System.Web.StaticFileHandler.ProcessRequestForNonMapPathBasedVirtualFile(HttpRequest request, HttpResponse response, String overrideVirtualPath)
   at System.Web.StaticFileHandler.ProcessRequestInternal(HttpContext context, String overrideVirtualPath)
   at System.Web.DefaultHttpHandler.BeginProcessRequest(HttpContext context, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)
2015-05-15 16:01:36,535 ERROR 192.168.1.93 - (null) - (null) - CanhCam.Web.Global - 192.168.1.93 /Data/Sites/1/skins/default/css/img/close.png Referrer(http://localhost:17537/Data/Sites/1/skins/default/css/plugins.min.css) useragent Mozilla/5.0 (Windows NT 6.1; WOW64; rv:37.0) Gecko/20100101 Firefox/37.0 
System.Web.HttpException (0x80004005): File does not exist.
   at System.Web.StaticFileHandler.ProcessRequestForNonMapPathBasedVirtualFile(HttpRequest request, HttpResponse response, String overrideVirtualPath)
   at System.Web.StaticFileHandler.ProcessRequestInternal(HttpContext context, String overrideVirtualPath)
   at System.Web.DefaultHttpHandler.BeginProcessRequest(HttpContext context, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)
2015-05-15 16:01:36,556 ERROR 192.168.1.93 - (null) - (null) - CanhCam.Web.Global - 192.168.1.93 /Data/Sites/1/skins/default/css/img/prev.png Referrer(http://localhost:17537/Data/Sites/1/skins/default/css/plugins.min.css) useragent Mozilla/5.0 (Windows NT 6.1; WOW64; rv:37.0) Gecko/20100101 Firefox/37.0 
System.Web.HttpException (0x80004005): File does not exist.
   at System.Web.StaticFileHandler.ProcessRequestForNonMapPathBasedVirtualFile(HttpRequest request, HttpResponse response, String overrideVirtualPath)
   at System.Web.StaticFileHandler.ProcessRequestInternal(HttpContext context, String overrideVirtualPath)
   at System.Web.DefaultHttpHandler.BeginProcessRequest(HttpContext context, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)
2015-05-15 16:01:36,655 ERROR 192.168.1.93 - (null) - (null) - CanhCam.Web.Global - 192.168.1.93 /Data/Sites/1/media/Logo/intro-logo.png Referrer(http://localhost:17537/Default.aspx) useragent Mozilla/5.0 (Windows NT 6.1; WOW64; rv:37.0) Gecko/20100101 Firefox/37.0 
System.Web.HttpException (0x80004005): File does not exist.
   at System.Web.StaticFileHandler.ProcessRequestForNonMapPathBasedVirtualFile(HttpRequest request, HttpResponse response, String overrideVirtualPath)
   at System.Web.StaticFileHandler.ProcessRequestInternal(HttpContext context, String overrideVirtualPath)
   at System.Web.DefaultHttpHandler.BeginProcessRequest(HttpContext context, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)
2015-05-15 16:01:36,655 ERROR 192.168.1.93 - (null) - (null) - CanhCam.Web.Global - 192.168.1.93 /Data/Sites/1/skins/default/css/img/next.png Referrer(http://localhost:17537/Data/Sites/1/skins/default/css/plugins.min.css) useragent Mozilla/5.0 (Windows NT 6.1; WOW64; rv:37.0) Gecko/20100101 Firefox/37.0 
System.Web.HttpException (0x80004005): File does not exist.
   at System.Web.StaticFileHandler.ProcessRequestForNonMapPathBasedVirtualFile(HttpRequest request, HttpResponse response, String overrideVirtualPath)
   at System.Web.StaticFileHandler.ProcessRequestInternal(HttpContext context, String overrideVirtualPath)
   at System.Web.DefaultHttpHandler.BeginProcessRequest(HttpContext context, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)
2015-05-15 16:01:36,656 ERROR 192.168.1.93 - (null) - (null) - CanhCam.Web.Global - 192.168.1.93 /Data/Sites/1/media/intro/intro-chuyennhuong.jpg Referrer(http://localhost:17537/Default.aspx) useragent Mozilla/5.0 (Windows NT 6.1; WOW64; rv:37.0) Gecko/20100101 Firefox/37.0 
System.Web.HttpException (0x80004005): File does not exist.
   at System.Web.StaticFileHandler.ProcessRequestForNonMapPathBasedVirtualFile(HttpRequest request, HttpResponse response, String overrideVirtualPath)
   at System.Web.StaticFileHandler.ProcessRequestInternal(HttpContext context, String overrideVirtualPath)
   at System.Web.DefaultHttpHandler.BeginProcessRequest(HttpContext context, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)
2015-05-15 16:01:36,697 ERROR 192.168.1.93 - (null) - (null) - CanhCam.Web.Global - 192.168.1.93 /Data/Sites/1/media/intro/intro-thue.jpg Referrer(http://localhost:17537/Default.aspx) useragent Mozilla/5.0 (Windows NT 6.1; WOW64; rv:37.0) Gecko/20100101 Firefox/37.0 
System.Web.HttpException (0x80004005): File does not exist.
   at System.Web.StaticFileHandler.ProcessRequestForNonMapPathBasedVirtualFile(HttpRequest request, HttpResponse response, String overrideVirtualPath)
   at System.Web.StaticFileHandler.ProcessRequestInternal(HttpContext context, String overrideVirtualPath)
   at System.Web.DefaultHttpHandler.BeginProcessRequest(HttpContext context, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)
2015-05-15 16:02:12,269 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2015-05-15 16:02:24,240 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2015-05-15 16:02:24,347 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - deserialized WebTaskManager task 
2015-05-15 16:02:24,352 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - Queued WebTaskManager on a new thread 
2015-05-15 16:03:52,129 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2015-05-15 16:04:31,820 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2015-05-15 16:04:31,935 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - deserialized WebTaskManager task 
2015-05-15 16:04:31,942 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - Queued WebTaskManager on a new thread 
2015-05-15 16:11:12,157 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2015-05-15 16:23:50,534 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2015-05-15 16:23:50,601 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - deserialized WebTaskManager task 
2015-05-15 16:23:50,605 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - Queued WebTaskManager on a new thread 
2015-05-15 16:27:44,454 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2015-05-15 16:42:58,556 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2015-05-15 16:42:58,650 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - deserialized WebTaskManager task 
2015-05-15 16:42:58,657 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - Queued WebTaskManager on a new thread 
2015-05-15 16:46:32,175 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
