section.canhcam-service-1(bg-img='./img/_global/bg_1.png')
	.container
		.row
			.col
				include ../../nav/n-1/index.pug
		.row
			.col(data-aos="fade-up"  data-aos-duration="2000")
				h2.head-title Dịch vụ
				p.text-center Những dịch vụ hỗ trợ tại Bảo Tàng Lịch Sử giúp quý quan khách có những phút giây trải nghiệm vui vẻ, thuận tiện và đầy ý nghĩa
		.row
			.col.text-center(data-aos="fade-up"  data-aos-duration="2000")
				img.img-fluid(src='./img/07_dichvu/dichvu_1.png', alt='')
