section.canhcam-show-list-2
	.container
		.row
			.col
				#myTabContent.tab-content
					#tab-1.tab-pane.fade.show.active
						.long-tab
							.row
								- for( var x = 0; x < 4; x ++)
									.col-md-6.col-lg-3(data-aos="zoom-in"  data-aos-duration="2000")
										a(href="#")
											figure.mb-5.mb-lg-0
												.img
													img.w-100(src='./img/05_trungbay/trungbay_ds_4.png', alt='')
												figcaption
													h3 Trưng bày ngoài trời
					#tab-2.tab-pane.fade
						.short-tab
							.row
								- for( var x = 0; x < 4; x ++)
									.col-md-6.col-lg-3
										a(href="#")
											figure.mb-5.mb-lg-0
												.img
													img.w-100(src='./img/05_trungbay/trungbay_ds_4.png', alt='')
												figcaption
													h3 Trưng bày ngoài trời
