section.canhcam-intro-2(bg-img='./img/_global/bg_1.png')
	.container
		.row
			.col.wrapper
				ul.list-inline.list-unstyled
					li.active.list-inline-item
						a(href="#") Lịch sử bảo tàng  
					li.list-inline-item
						a(href="#") Thông điệp giám đốc
					li.list-inline-item
						a(href="#") Kiến  trúc và thiết kế  
					li.list-inline-item
						a(href="#") Các phòng chuyên môn
		.row
			.col
				.history
					.row
						.col
							h3.head-title Lịch sử 
								span Bảo Tàng

					.row
						.col
							ul#myTab.nav.nav-tabs(role="tablist")
								li.nav-item
									a#y1929-tab.nav-link.active(data-toggle="tab" href="#y1929" role="tab" aria-controls="y1929" aria-selected="true") 1929
								li.nav-item
									a#y1945-tab.nav-link(data-toggle="tab" href="#y1945" role="tab" aria-controls="y1945" aria-selected="false") 1945
								li.nav-item
									a#y1956-tab.nav-link(data-toggle="tab" href="#y1956" role="tab" aria-controls="y1956" aria-selected="false") 1956
								li.nav-item
									a#y2012-tab.nav-link(data-toggle="tab" href="#y2012" role="tab" aria-controls="y2012" aria-selected="false") 2012

							#myTabContent.tab-content
								#y1929.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="y1929-tab")
									.y1929-tab
										.row
											.col-lg-7
												.detail
													h3.tab-title Năm 1929
													p Bảo tàng Lịch sử Thành phố Hồ Chí Minh là một bảo tàng lớn và có lịch sử phát triển lâu đời ở khu vực phía Nam Việt Nam. Tọa lạc tại trung tâm thành phố, Bảo tàng là điểm đến thu hút đông đảo công chúng trong nước và quốc tế. 
													p Bảo tàng Lịch sử Thành phố Hồ Chí Minh trước đây là Bảo tàng Blanchard de la Brosse (tên của viên thống đốc Nam Kỳ) thành lập và là bảo tàng đầu tiên ở phía Nam Việt Nam. 
 
											.col
												figure
													.img
														img.img-fluid(src='./img/01_gioithieu/gioithieu_lichsu.png', alt='')

								#y1945.tab-pane.fade(role="tabpanel" aria-labelledby="y1945-tab")
									.y1945-tab
										.row
											.col-lg-7
												.detail
													h3.tab-title Năm 1945
													p Bảo tàng mang tên “Viện Bảo tàng Quốc gia Việt Nam” tại Sài Gòn, nơi trưng bày về mỹ thuật cổ một số nước Châu Á. 
													p Cho đến ngày 23/8/1979, bảo tàng chính thức đổi tên như ngày hôm nay theo Quyết định số 235QĐ-UB của Ủy ban Nhân dân Thành phố Hồ Chí Minh.  
													p Hiện nay, Bảo tàng sở hữu hơn 40.000 hiện vật với nhiều sưu tập độc đáo, quý giá có nguồn gốc từ nhiều quốc gia, dân tộc; chất liệu, loại hình vô cùng đa dạng, phong phú.
 
 
 
											.col
												figure
													.img
														img.img-fluid(src='./img/01_gioithieu/gioithieu_lichsu.png', alt='')

								#y1956.tab-pane.fade(role="tabpanel" aria-labelledby="y1956-tab")
									.y1956-tab
										.row
											.col-lg-7
												.detail
													h3.tab-title Năm 1956
													p Các bộ sưu tập giới  giới thiệu về lịch sử, văn hóa Việt Nam từ  thời nguyên thủy đến và giới thiệu về những nét văn hóa độc đáo ở các tỉnh phía Nam và một số nước trong khu vực châu Á.
													p Bảo tàng cũng là nơi làm việc của nhiều chuyên gia, các nhà nghiên cứu về lịch sử, văn hóa, xã hội Việt Nam,các nền văn hóa trong khu vực và trên thế giới cùng đội ngũ nhân viên có trình độ, kinh nghiệm.
													p Trong xu thế phát triển hiện nay, để có thể đáp ứng nhu cầu thưởng thức những giá trị văn hóa trong đời sống tinh thần của công chúng, Bảo tàng luôn phải tự đổi mới các hoạt động với mục đích hướng đến Bảo tàng vì cộng đồng.


 
 
											.col
												figure
													.img
														img.img-fluid(src='./img/01_gioithieu/gioithieu_lichsu.png', alt='')

								#y2012.tab-pane.fade(role="tabpanel" aria-labelledby="y2012-tab")
									.y2012-tab
										.row
											.col-lg-7
												.detail
													h3.tab-title Năm 2012
													p Tòa nhà Bảo tàng được công nhận là Di tích kiến trúc nghệ thuật cấp Quốc gia. Một kiến trúc mang đậm nét phương Đông kết hợp với phương Tây tạo nên một kết cấu công trình vững chải, hài hòa, cân xứng với cảnh quan xung quanh.
 
  
 
											.col
												figure
													.img
														img.img-fluid(src='./img/01_gioithieu/gioithieu_lichsu.png', alt='')
		.row.mess
			.col
				h3.head-title Thông điệp của 
					span Giám đốc
		.row.quote
			.col-lg-6
				p 
					var Quý khách thân mến,
				p  Để hiểu được lịch sử và văn hóa của một vùng đất, một quốc gia, nơi đầu tiên cần phải ghé thăm chính là các bảo tàng - 
					span nơi bảo tồn và phát huy giá trị di sản văn hóa địa phương. 
					| Bảo tàng Lịch sử Thành phố Hồ Chí Minh là một điểm đến hấp dẫn mang đầy đủ những đặc trưng như vậy. 

				p Đến với Bảo tàng Lịch sử, quý khách sẽ được quan chiêm vẻ đẹp của Tòa nhà Bảo tàng Lịch sử - một kiến trúc cổ do người Pháp xây dựng gần một thế kỷ (1929) mang đặc trưng
					b phong cách “Đông Dương cách tân”.  
					| Chỉ cần 365 bước chân dạo quanh Bảo tàng Lịch sử, du khách có thể đi suốt chiều dài hàng ngàn năm lịch sử và văn hóa Việt Nam, tìm hiểu về đặc trưng văn hóa vùng đất phương Nam thông qua hệ thống các phòng trưng bày cố định và chuyên đề đặc biệt. Bộ sưu tập chọn lọc từ trên 
					b 43.000 tư liệu, hiện vật
					| của Bảo tàng, trong đó có 
					b 11 bảo vật quốc gia 
					| được giới thiệu tại các phòng trưng bày sẽ là những món quà tri thức lịch sử- văn hóa vô giá.
			.col-lg-6
				figure(bg-img='./img/01_gioithieu/gioithieu_giamdoc.png')
					img.w-100.d-lg-none(src='./img/01_gioithieu/gioithieu_giamdoc.png', alt='')
		.row.quote2
			.col
				p Bảo tàng Lịch sử Thành phố Hồ Chí Minh đã và đang nỗ lực cung cấp cho du khách nhiều hơn những trải nghiệm văn hóa giải trí và thông tin. Các bộ sưu tập lớn của bảo tàng sẽ được trình bày trong các màn hình chạm tại các phòng trưng bày cố định và trình chiếu trong phòng media của bảo tàng. Các cuộc trưng bày chuyên đề đặc biệt và các chương trình giáo dục thú vị cho trẻ em sẽ được xây dựng và làm mới. Ngoài ra, bảo tàng đã và đang tiếp tục nâng cấp cơ sở vật chất, trưng bày và dịch vụ tốt hơn, để  phục vụ cho nhu cầu thưởng lãm, học tập và giải trí của du khách. 

				p Những năm gần đây, Bảo tàng Lịch sử tham gia nhiều cuộc trưng bày lớn ở nước ngoài: 
					b Áo, Bỉ, Hàn Quốc, Mỹ…
					| để quảng bá văn hóa Việt Nam ở các nơi khác trên thế giới. Những cuộc trưng bày này giúp tăng khả năng quảng bá di sản văn hóa Việt Nam trên khắp thế giới, đồng thời cho thế giới tiếp cận được các giá trị di sản văn hóa riêng biệt từ các nền văn minh đa dạng. Những nỗ lực trong hội nhập với văn hóa thế giới của Bảo tàng Lịch sử cũng không ngoài mục đích bảo tồn và phát huy bản sắc văn hóa dân tộc trước xu hướng toàn cầu hóa. 

				p Bảo tàng Lịch sử sẽ tiếp tục nâng cao vị thế của mình với tư cách là một tổ chức văn hóa, khoa học và giáo dục, điểm đến không thể thiếu trong hành trình du lịch di sản, và trở thành một bảo tàng mà tất cả du khách đều có thể có được những trải nghiệm đầy ý nghĩa. Bảo tàng Lịch sử hy vọng quý khách sẽ có một thời gian đáng nhớ với gia đình và bạn bè trong khi trải nghiệm các chương trình văn hóa của Bảo tàng. 

				p Cảm ơn quý khách.

				p
					b Hoàng Anh Tuấn
				p Giám đốc Bảo tàng  Lịch sử TP.HCM
	//- ul.navbar-nav
	//- 	li.nav-item
	//- 		a(href="#pc-2").nav-link 02
	//- 			.hidden Ưu đãi
	//- 	li.nav-item
	//- 		a(href="#pc-3").nav-link 03
	//- 			.hidden Nổi bật
	//- 	li.nav-item
	//- 		a(href="#pc-4").nav-link 04
	//- 			.hidden Thẻ
//- fff9ef
