section.canhcam-contact-1
	.container
		.row
			.col
				.wrapper-title
					h2.news-title Liên Hệ
					p.text-center Quý khách vui lòng điền thông tin vào mẫu bên dưới và gửi những góp ý, thắc mắc cho Bảo Tàng Lịch Sử, chúng tôi sẽ phản hồi email của 
						br
						| Quý khách trong thời gian sớm nhất.
		.row.fill_info
			.col-lg-4.col-12(data-aos="flip-up" data-aos-duration="1500" )
				.info
					h4 BẢO TÀNG LỊCH SỬ
					p Địa chỉ: 
						span Số 2 Nguyễn Bỉnh Khiêm, Q. 1, Tp. HCM 
					p Điện thoại: 
						span (028) 3829 8146 - 3829 0268 
					p Fax: 
						span (028) 3825 8784 
					p Email: 
						span bt.ls.svhtt@tphcm.gov.vn
			.col
				.row
					.col
						.fill-wrapper.d-flex
							.form-group(data-aos="flip-up" data-aos-duration="1500" )
								input#name.form-control(type="name" aria-describedby="emailHelp" placeholder="Họ và tên...")
						
							.form-group(data-aos="flip-up" data-aos-duration="1500" )
								input#name.form-control(type="name" aria-describedby="emailHelp" placeholder="Email...")
				.row
					.col
						.fill-wrapper.d-flex
							.form-group(data-aos="flip-up" data-aos-duration="1500" )
								input#name.form-control(type="name" aria-describedby="emailHelp" placeholder="Tiêu đề...")
						
							.form-group(data-aos="flip-up" data-aos-duration="1500" )
								input#name.form-control(type="name" aria-describedby="emailHelp" placeholder="Số điện thoại...")
				.row
					.col
						.fill-wrapper.d-flex
							.form-group(data-aos="flip-up" data-aos-duration="1500" )
								textarea#exampleFormControlTextarea1.form-control(rows="5" placeholder="Nội dung...")
				.row
					.col
						.send.d-flex
							.form-group(data-aos="flip-up" data-aos-duration="1500" )
								input#name.form-control(type="name" aria-describedby="emailHelp" placeholder="Mã captcha...")
							a(href="#").btn.btn-send Gửi




