<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
  <templatelist xsltname="DanhSachChuongTrinh.xslt" name="Danh sách Chuong Trinh"></templatelist>
  <templatelist xsltname="DanhSachTinTuc.xslt" name="Danh sách Tin Tuc"></templatelist>
  <templatelist xsltname="BaiVietPhuongHuong.xslt" name="bài viết phương hướng"></templatelist>
  <templatelist xsltname="BaiVietDichVu.xslt" name="bài viết dịch vụ"></templatelist>
  <templatelist xsltname="BaiVietBaoVatQuocGia.xslt" name="bài viết bảo vật quốc gia"></templatelist>
  <templatelist xsltname="BaiVietTrungBayThuongXuyen.xslt" name="bài viết trưng bày"></templatelist>

  <templatedetail xsltname="ChiTietChuongTrinh.xslt" name="Chi tiết Chuong Trinh"></templatedetail>
  <templatedetail xsltname="ChiTietTinTuc.xslt" name="Chi tiết Tin Tuc"></templatedetail>
  <templatedetail xsltname="ChiTietBaoVat.xslt" name="Chi tiết bảo vật"></templatedetail>
  <templatedetail xsltname="NewsList.xslt" name="Danh Sach Tin Tuc"></templatedetail>

  <position>
    <add name="tin tức Trang chủ" value="1" resourcefile="" />
    <add name="bộ sưu tập Trang chủ" value="2" resourcefile="" />
    <add name="giới thiệu ấn phẩm" value="3" resourcefile="" />
  </position>
</templates>
