section.canhcam-map-1(bg-img='./img/_global/bg_1.png')
	.container
		.row
			.col
				include ../../nav/n-1/index.pug
		.row
			.col
				h2.head-title Bản đồ
		.row
			.col(data-aos="fade-up"  data-aos-duration="2000")
				img.img-fluid(src='./img/07_bando/bando_top.png', alt='')
				img.img-fluid(src='./img/07_bando/bando_bottom.png', alt='')
