section.canhcam-gallery-1(bg-img='./img/_global/bg_1.png')
	.container
		.row
			.col
				h2.news-title bộ sưu tập
		.row
			.col.col-lg-9.mx-auto.list
				.row
					- for( var x = 0; x < 3; x ++)
						.col-md
							a(href="#")
								figure.mb-5.mb-lg-0(data-aos="fade-up"  data-aos-duration="1500")
									.img
										img.w-100(src='./img/04_bosuutap/04_CKMM/ckmm_2.png', alt='')
									figcaption
										h3 Hiện vật tiêu biểu

