header.canhcam-header-12
	.k-menu-bar.container
		//- .block-left
		//- .block-right
		#language
		#hotline
		#logo.mx-auto


		#register
		button.k-button-toggle.navbar-toggler(k-toggle-for="#demoResAllInOneMenu")
			i.mdi.mdi-menu
	#demoResAllInOneMenu.container.k-responsive-menu
		.k-menu-bar
			.k-logo.navbar-brand.mr-auto
				img(src="./img/_global/logo.png", alt="")
			
			button.k-button-toggle.navbar-toggler(k-toggle-for="#demoResAllInOneMenu")
				i.mdi.mdi-close
		.k-logo.navbar-brand(k-menu-map-to="#logo")
			img(src="./img/_global/logo.png", alt="")
		.nav.mainnav.ml-auto
			.wrapper-top
				.hotline(k-menu-map-to="#hotline")
					a.nav-top-link(href='#') Hotline:   
						span 0283 8258 783
				ul.nav-top.nav
					li.nav-top-item
						a.nav-top-link(href='#') Hỗ trợ khách hàng 
					li.nav-top-item
						a.nav-top-link(href='#') Tin tức 
					li.nav-top-item
						a.nav-top-link(href='#') Liên hệ
				.language(k-menu-map-to='#language')
					a(href='#')
						img(src="./img/_global/us_lang.png", alt="")
					//- a(href='#')
						//- img(src="./img/_global/vn_lang.png", alt="")
					

			.wrapper
				ul.nav
					li.nav-item
						a.nav-link(href='#') 
							i.material-icons home
							span Trang Chủ

					li.nav-item.active
						a.nav-link(href='#')  giới thiệu
						.sub-link
							a(href='#')  giới thiệu
							a(href='#')  giới thiệu
							a(href='#')  giới thiệu
							a(href='#')  giới thiệu

					li.nav-item
						a.nav-link(href='#')  bộ sưu tập 
						.sub-link
							a(href='#')  giới thiệu
							a(href='#')  giới thiệu
							a(href='#')  giới thiệu
							a(href='#')  giới thiệu
					li.nav-item
						a.nav-link(href='#') chương trình giáo dục
						.sub-link
							a(href='#')  giới thiệu
							a(href='#')  giới thiệu
							a(href='#')  giới thiệu
							a(href='#')  giới thiệu
					li.nav-item
						a.nav-link(href='#') triển lãm
						.sub-link
							a(href='#')  giới thiệu
							a(href='#')  giới thiệu
							a(href='#')  giới thiệu
							a(href='#')  giới thiệu
					li.nav-item
						a.nav-link(href='#') tham quan
						.sub-link
							a(href='#')  giới thiệu
							a(href='#')  giới thiệu
							a(href='#')  giới thiệu
							a(href='#')  giới thiệu
					

				a.search 
					i.material-icons search
				.searchbox
					input.searchinput(type='text' placeholder='Search')
					button.searchbutton(type='submit')
						i.fa.fa-search

		.register(k-menu-map-to="#register")
			a(href="#modal-1")
				span Đăng ký thuyết minh
				

		include ../../popup/p-1/index.pug
