section.canhcam-news-details-1(bg-img='./img/_global/bg_1.png')
	article.news-details
		.container
			.row
				.col-lg-9
					.news-read
						h2.title "Ngẩn ngơ" khám phá ArtScience Museum - viện bảo tàng thú vị nhất Singapore
						time 07/06/2018
						p Du lịch Singapore, đến với ArtScience Museum, bạn sẽ phải "trầm trồ kinh ngạc" trước một công trình kiến trúc độc và lạ bậc nhất trên thế giới. 
						p Có thể nói bảo tàng ArtScience Museum là một điểm đến độc đáo dành cho giới trẻ, đặc biệt là "hội sống ảo" hiện nay. Bảo tàng ArtScience Museum - Singapore có hình dáng như một bàn tay, mang ngụ ý đón chào du khách từ khắp nơi trên thế giới. Thiết kế độc đáo này được lấy ý tưởng từ bông hoa sen, nó được xem là một trong những điểm đến hàng đầu cho các cuộc triễn lãm nổi tiếng nhất trên thế giới. 
						//- figure
						//- 	.img
						//- 		img.w-100(src='./img/02_tintuc/02_tintuc_ct/tintuc_ct_1.png', alt='')
						//- 	figcaption
						//- 		h5.text-center @artsciencemuseumsg
						a.item-news-read(href="./img/02_tintuc/02_tintuc_ct/tintuc_ct_1.png")
							figure
								img.img-fluid.img-thumbnail(src="./img/02_tintuc/02_tintuc_ct/tintuc_ct_1.png", alt="@artsciencemuseumsg")
								figcaption.text-center @artsciencemuseumsg
						p Đến bảo tàng nghệ thuật Singapore, bạn sẽ có vô số địa điểm để selfie. Tại đây, bạn sẽ tha hồ "tự sướng" ở những chiếc cửa ra vào hình vòm hay chiếc cầu thang hình xoắn ốc cầu kỳ. Đừng quên dạo qua các triển lãm tại bảo tàng để có một bức hình độc đáo khoe với bạn bè.

						a.item-news-read(href="./img/02_tintuc/02_tintuc_ct/tintuc_ct_2.png")
							figure
								img.img-fluid.img-thumbnail(src="./img/02_tintuc/02_tintuc_ct/tintuc_ct_2.png", alt="@artsciencemuseumsg")
								figcaption.text-center @artsciencemuseumsg

						p Toàn bộ công trình được thiết kế theo hướng thân thiện với môi trường: ở mỗi gian trưng bày đều có cửa sổ để lấy ánh sáng tự nhiên, hồ nước (ở dưới chân bảo tàng) dùng để lưu giữ nước mưa để sử dụng trong nhà vệ sinh. Tối nào cũng có đèn từ dưới chiếu lên nhìn rất lung linh.
						include ../../social/s-1/index.pug

				.col-lg-3
					include ../../sub-news/sn-1/index.pug
				