section.canhcam-subject-details-1(bg-img='./img/_global/bg_1.png')
	article.news-details
		.container
			.row
				.col-lg-9(data-aos="fade-up"  data-aos-duration="2000")
					.news-read
						h2.title Giờ học Sử tại Bảo tàng
						time 07/06/2018
						p Chương trình “Giờ học Sử tại Bảo tàng” được thực hiện từ năm học 2012 đến nay đã tạo được dấu ấn và sự đón nhận của các trường học từ khắp các tỉnh thành đến giảng dạy và học tập.
						p Chương trình đã thực sự khơi gợi được sự thích thú, hứng khởi cho cả phía nhà trường, giáo viên trong việc giảng dạy và học sinh học tập thực tế tại Bảo tàng Lịch sử. 
							br
							|Đây là chương đã giúp cho học sinh nắm được kiến thức cơ bản của chương trình sử đang học tại nhà trường.
						//- figure
						//- 	.img
						//- 		img.w-100(src='./img/02_tintuc/02_tintuc_ct/tintuc_ct_1.png', alt='')
						//- 	figcaption
						//- 		h5.text-center Một số hình ảnh lớp học
						a.item-news-read(href="./img/03_chuongtrinhgiaoduc_ct/03_ccgd_ct_1.png")
							figure
								img.img-fluid.img-thumbnail(src="./img/03_chuongtrinhgiaoduc_ct/03_ccgd_ct_1.png", alt="Một số hình ảnh lớp học")
								figcaption.text-center Một số hình ảnh lớp học
						p Qua tư liệu, hiện vật trưng bày trong Bảo tàng gắn với những câu chuyện kể về các danh nhân, danh tướng qua những chiến công vẻ vang, những điều thú vị về các nền văn hóa độc đáo xung quanh ta. Tất cả đã góp phần tạo cho các em yêu thích môn lịch sử, tự hào về lịch sử, văn hóa hàng ngàn năm của dân tộc. Qua đó nâng cao nhận thức, sự hiểu biết và thúc đẩy các hoạt động gìn giữ và phát huy các di sản văn hóa. 

						a.item-news-read(href="./img/03_chuongtrinhgiaoduc_ct/03_ccgd_ct_2.png")
							figure
								img.img-fluid.img-thumbnail(src="./img/03_chuongtrinhgiaoduc_ct/03_ccgd_ct_2.png", alt="Một số hình ảnh lớp học")
								figcaption.text-center Một số hình ảnh lớp học

						p.ps Theo NNKLL
						include ../../social/s-1/index.pug

				.col-lg-3(data-aos="fade-up"  data-aos-duration="2000")
					include ../../sub-news/sn-1/index.pug
				