section.canhcam-gallery-details-1(bg-img='./img/_global/bg_1.png')
	article.product-details
		.container
			.row.d-flex
				.col-md-4.col-lg-6.order-md-2.mb-4.infomation
					h1 BÌNH 
						span (Bình phỏng theo bình nóng vẽ rồng núi thời Hán)
					hr
					h4 Thông tin
					p Số đăng ký:  
						span BTLS.6028
					hr
					p Chất liệu:  
						span Đồng
					hr
					p Niên đại:  
						span Năm Kỷ Hợi (1839)
					hr
					p Cao:  
						span 26 cm
					hr
					p Trọng lượng:  
						span 5,7 kg


				.col-md-8.col-lg-6.order-md-1.slider-img
					article.slider-for
						.item
							figure
								.img
									img(src="./img/04_bosuutap/04_bosuutap_ct/big_thumbnail.png", alt="")
						.item
							figure
								.img
									img(src="./img/04_bosuutap/04_bosuutap_ct/big_thumbnail.png", alt="")
						.item
							figure
								.img
									img(src="./img/04_bosuutap/04_bosuutap_ct/big_thumbnail.png", alt="")
						.item
							figure
								.img
									img(src="./img/04_bosuutap/04_bosuutap_ct/big_thumbnail.png", alt="")
						.item
							figure
								.img
									img(src="./img/04_bosuutap/04_bosuutap_ct/big_thumbnail.png", alt="")
						.item
							figure
								.img
									img(src="./img/04_bosuutap/04_bosuutap_ct/big_thumbnail.png", alt="")
						.item
							figure
								.img
									img(src="./img/04_bosuutap/04_bosuutap_ct/big_thumbnail.png", alt="")

					article.slider-control
						.slider-nav(data-aos="fade-up"  data-aos-duration="1500")
							.item
								img(src="./img/04_bosuutap/04_bosuutap_ct/part_1.png", alt="")
							.item
								img(src="./img/04_bosuutap/04_bosuutap_ct/part_2.png", alt="")
							.item
								img(src="./img/04_bosuutap/04_bosuutap_ct/part_3.png", alt="")
							.item
								img(src="./img/04_bosuutap/04_bosuutap_ct/part_4.png", alt="")
							.item
								img(src="./img/04_bosuutap/04_bosuutap_ct/part_1.png", alt="")
							.item
								img(src="./img/04_bosuutap/04_bosuutap_ct/part_1.png", alt="")
							.item
								img(src="./img/04_bosuutap/04_bosuutap_ct/part_1.png", alt="")
						a(href="javascript:void(0)").btn.top-arrow
							i.fa.fa-chevron-left
						a(href="javascript:void(0)").btn.bottom-arrow
							i.fa.fa-chevron-right
			.row
				.col
					h3.title-detail Nội dung
			.row
				.col
					.detail
						.block
							p Bình dùng đựng rượu tế.
							p Bình có hình dạng củ tỏi, toàn thân đúc nổi hình rồng núi, văn ô trám. Trôn khắc minh văn, nội dung như sau:
							p 御製
							p 靜則有守動則有用經濟合宜文武道共
							p 明命己亥
							p 倣漢山龍溫壺

						.block
							p
								b Dịch nghĩa:
							p Vua làm
							p Yên thì để đấy, động thì có ngay, làm ăn thích hợp, văn võ đều dùng.  
							p Minh Mạng năm Kỷ Hợi
							p Phỏng theo bình nóng vẽ rồng núi thời Hán. 
			.row
				.col
					h3.other hiện vật khác
						

			.row
				.col
					.owl-carousel.owl-theme
						a(href="#")
							.item
								img.w-100(src='./img/04_bosuutap/04_CKMM/ckmm_1.png', alt='')
						a(href="#")
							.item
								img.w-100(src='./img/04_bosuutap/04_CKMM/ckmm_1.png', alt='')
						a(href="#")
							.item
								img.w-100(src='./img/04_bosuutap/04_CKMM/ckmm_1.png', alt='')
						a(href="#")
							.item
								img.w-100(src='./img/04_bosuutap/04_CKMM/ckmm_1.png', alt='')
						a(href="#")
							.item
								img.w-100(src='./img/04_bosuutap/04_CKMM/ckmm_1.png', alt='')
						a(href="#")
							.item
								img.w-100(src='./img/04_bosuutap/04_CKMM/ckmm_1.png', alt='')
