section.canhcam-intro-nav
	.container
		.row
			.col.wrapper
				ul.list-inline.list-unstyled
					li.list-inline-item
						a(href="#intro-1").li-link.active Lịch sử bảo tàng  
					li.list-inline-item
						a(href="#intro-2").li-link Thông điệp giám đốc
					li.list-inline-item
						a(href="#intro-3").li-link Kiến  trúc và thiết kế  
					li.list-inline-item
						a(href="#intro-4").li-link Các phòng chuyên môn
		
					li.list-inline-item
						a(href="#intro-5").li-link Ấn phẩm
		
					li.list-inline-item
						a(href="#intro-6").li-link Ủng hộ
		