section.canhcam-intro-6#intro-5
	.container
		.row
			.col
				h3.head-title Ấn Phẩm
		.row.item
			- for ( var x = 1; x < 7; x ++)
				.col-lg-4
					a.image(href="#")
						figure
							.img
								img(src='./img/04_bosuutap/04_BVQG/bvqg_6.png', alt='')
							figcaption
								h3  Trong năm 2012 và năm 2013 Trong năm 2012 và năm 2013  năm 2013 Trong năm 2012 và n năm 2013 Trong năm 2012 và n
		.row
			.col-2.mx-auto
				a(href="#").btn-more Xem Tất Cả
