section.canhcam-tour-3
	.container
		.row
			.col
				h2.head-title Thông tin liên hệ
		.row
			.col-lg-4.wrapper_block
				.wrapper-contact(data-aos="fade-down"  data-aos-duration="2000")
					.icon
						a(href="#")
							em.lnr.lnr-phone-handset
					.info
						h4 liên hệ
						p Phòng HC-TH: 0283.8258.783
						p Thường trực: 0283.8298.146
			.col-lg-4.wrapper_block
				.wrapper-contact(data-aos="fade-down"  data-aos-duration="2000")
					.icon(bg-img='./img/07_chinhsach/chinhsach_bg.png')
						a(href="#")
							em.lnr.lnr-cloud-download
					.info
						p Tập gấp hướng dẫn du lịch (PDF, 325KB)
			.col-lg-4.wrapper_block
				.wrapper-contact(data-aos="fade-down"  data-aos-duration="2000")
					.icon(bg-img='./img/07_chinhsach/chinhsach_bg.png')
						a(href="#")
							em.lnr.lnr-cloud-download
					.info
						p Sơ đồ tham quan  
							br
							|  (PDF, 325KB)

