extends _layout/layout.pug
block variables
	- var title = "collect_ckmm"
	- var description = "Description for collect_ckmm page"
	- var bodyclass = "collect_ckmm"
	- var href = "/collect_ckmm.html"
block header
	include ../lib/header/h-9/index.pug
block body
	include ../lib/intro/i-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/collect_bvqg/c-1/index-ckmm.pug
block footer
	include ../lib/footer/f-1/index.pug
	include ../lib/footer/f-6/index.pug
