extends _layout/layout.pug
block variables
	- var title = "gallery"
	- var description = "Description for gallery page"
	- var bodyclass = "gallery"
	- var href = "/gallery.html"
block header
	include ../lib/header/h-9/index.pug
block body
	include ../lib/intro/i-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/gallery/g-1/index.pug
block footer
	include ../lib/footer/f-6/index.pug
