extends _layout/layout.pug
block variables
	- var title = "his_subject"
	- var description = "Description for his_subject page"
	- var bodyclass = "his_subject"
	- var href = "/his_subject.html"
block header
	include ../lib/header/h-9/index.pug
block body
	include ../lib/intro/i-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/d_subject/ds-1/index.pug
block footer
	include ../lib/footer/f-6/index.pug
