extends _layout/layout.pug
block variables
	- var title = "show_list"
	- var description = "Description for show_list page"
	- var bodyclass = "show_list"
	- var href = "/show_list.html"
block header
	include ../lib/header/h-9/index.pug
block body
	include ../lib/intro/i-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/show_list/sl-1/index.pug
	include ../lib/show_list/sl-2/index.pug
block footer
	include ../lib/footer/f-6/index.pug
