section.canhcam-intro-4#intro-3
	article
		h3.head-title Kiến trúc và thiết kế tòa nhà 
			span Bảo tàng Lịch sử

		.list-items
			.item
				img.w-100(src='./img/01_gioithieu/gioithieu_kientruc.png', alt='')
			.item
				img.w-100(src='./img/01_gioithieu/gioithieu_kientruc.png', alt='')
			.item
				img.w-100(src='./img/01_gioithieu/gioithieu_kientruc.png', alt='')

	.container
		.row
			.col
				p.name Năm 2012, tòa nhà Bảo tàng Lịch sử - Thành phố Hồ Chí Minh đã được Bộ Văn hóa, Thể thao và Du lịch ra quyết định xếp hạng là Di tích kiến trúc nghệ thuật cấp quốc gia. 
		.row.tab
			.col
				ul#myTab.nav.nav-tabs(role="tablist")
					li.nav-item
						a#architec-tab.nav-link.active(data-toggle="tab" href="#architec" role="tab" aria-controls="architec" aria-selected="true") Kiến trúc cổ
					li.nav-item
						a#style-tab.nav-link(data-toggle="tab" href="#style" role="tab" aria-controls="style" aria-selected="false") Phong cách đông dương cách tân


				#myTabContent.tab-content
					#architec.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="architec-tab")
						.architec-tab
							.row
								.col
									figure
										img.w-100(src='./img/01_gioithieu/gioithieu_kientrucco.png', alt='')
										figcaption
											p Trên khuôn viên rộng 6.057m2, Bảo tàng Lịch sử - Thành phố Hồ Chí Minh là quần thể kiến trúc gồm 2 tòa nhà: Tòa nhà trước xây năm 1927 và tòa nhà sau xây năm 1970. 
											p Tòa nhà trước vốn là Bảo tàng Blanchard de la Brosse xưa, do kiến trúc sư Auguste Delaval thiết kế mang nét kiến trúc cổ kính. Tòa nhà này có chiều dài 70m, chiều rộng 30m, tổng diện tích sử dụng là 2.100m. Mặt bằng tổng thể gồm khối tháp bát giác ở giữa làm điểm nhấn và cũng là trục đối xứng cho hai dãy nhà hai bên. Nhìn chung, kiến trúc của tòa nhà này mang phong cách Đông Dương rất rõ nét. 
											p Tòa nhà sau do kiến trúc sư Nguyễn Bá Lăng thiết kế được xây nối tiếp vào tòa nhà trước. Tòa nhà này có hình chữ U có diện tích 1.000m2, được thiết kế hài hòa và xử lý cảnh quan cho phù hợp với kiến trúc cổ của tòa nhà trước.  
											p Các hoa văn trang trí được sử dụng tại kiến trúc bảo tàng tuy được làm bằng nhiều chất liệu khác nhau (gỗ, sắt, xi măng) nhưng đều là các hoa văn phổ biến và tương đồng với nhiều công trình kiến trúc cổ đương thời. Mỗi chi tiết có ý nghĩa khác nhau nhưng tựu chung lại thì tất cả đều mang ý tốt lành. Đó chính là phần di sản văn hóa phi vật thể được ẩn chứa trong tòa nhà mà cụ thể là ở các họa tiết trang trí kiến trúc.
											p Các hoa văn ấy cũng đã cho thấy sự giao lưu văn hóa Việt – Pháp, góp phần làm cho công trình kiến trúc bảo tàng mang nét Á  Đông nhưng cũng rất Tây phương.
											p Nhìn chung, kiến trúc của công trình có những thiết kế phù hợp với công năng của một bảo tàng như: Nền cao, tường xây dày để chống ẩm và chịu lực tốt; trần cao có cửa sổ sát mái để tận dụng ánh sáng tự nhiên chiếu sáng cho các gian phòng... Có thể nói, tòa nhà Bảo tàng Lịch sử  - Thành phố Hồ Chí Minh là công trình được sử dụng đúng với công năng thiết kế ban đầu cho đến ngày hôm nay. Đến năm 2012, tòa nhà Bảo tàng Lịch sử - Thành phố Hồ Chí Minh đã được Bộ Văn hóa, Thể thao và Du lịch ra quyết định xếp hạng là Di tích kiến trúc nghệ thuật cấp quốc gia. 
								

					#style.tab-pane.fade(role="tabpanel" aria-labelledby="style-tab")
						.style-tab
							.row
								.col
									figure
										img.w-100(src='./img/01_gioithieu/gioithieu_kientrucco.png', alt='')
										figcaption
											p Trên khuôn viên rộng 6.057m2, Bảo tàng Lịch sử - Thành phố Hồ Chí Minh là quần thể kiến trúc gồm 2 tòa nhà: Tòa nhà trước xây năm 1927 và tòa nhà sau xây năm 1970. 
											p Tòa nhà trước vốn là Bảo tàng Blanchard de la Brosse xưa, do kiến trúc sư Auguste Delaval thiết kế mang nét kiến trúc cổ kính. Tòa nhà này có chiều dài 70m, chiều rộng 30m, tổng diện tích sử dụng là 2.100m. Mặt bằng tổng thể gồm khối tháp bát giác ở giữa làm điểm nhấn và cũng là trục đối xứng cho hai dãy nhà hai bên. Nhìn chung, kiến trúc của tòa nhà này mang phong cách Đông Dương rất rõ nét. 
											p Tòa nhà sau do kiến trúc sư Nguyễn Bá Lăng thiết kế được xây nối tiếp vào tòa nhà trước. Tòa nhà này có hình chữ U có diện tích 1.000m2, được thiết kế hài hòa và xử lý cảnh quan cho phù hợp với kiến trúc cổ của tòa nhà trước.  
											p Các hoa văn trang trí được sử dụng tại kiến trúc bảo tàng tuy được làm bằng nhiều chất liệu khác nhau (gỗ, sắt, xi măng) nhưng đều là các hoa văn phổ biến và tương đồng với nhiều công trình kiến trúc cổ đương thời. Mỗi chi tiết có ý nghĩa khác nhau nhưng tựu chung lại thì tất cả đều mang ý tốt lành. Đó chính là phần di sản văn hóa phi vật thể được ẩn chứa trong tòa nhà mà cụ thể là ở các họa tiết trang trí kiến trúc.
											p Các hoa văn ấy cũng đã cho thấy sự giao lưu văn hóa Việt – Pháp, góp phần làm cho công trình kiến trúc bảo tàng mang nét Á  Đông nhưng cũng rất Tây phương.
											p Nhìn chung, kiến trúc của công trình có những thiết kế phù hợp với công năng của một bảo tàng như: Nền cao, tường xây dày để chống ẩm và chịu lực tốt; trần cao có cửa sổ sát mái để tận dụng ánh sáng tự nhiên chiếu sáng cho các gian phòng... Có thể nói, tòa nhà Bảo tàng Lịch sử  - Thành phố Hồ Chí Minh là công trình được sử dụng đúng với công năng thiết kế ban đầu cho đến ngày hôm nay. Đến năm 2012, tòa nhà Bảo tàng Lịch sử - Thành phố Hồ Chí Minh đã được Bộ Văn hóa, Thể thao và Du lịch ra quyết định xếp hạng là Di tích kiến trúc nghệ thuật cấp quốc gia. 
