section.canhcam-tour-1
	.container
		.row
			.col
				include ../../nav/n-1/index.pug
		.row
			.col
				h2.head-title Thông tin chung
		.row
			.col-lg
				.info_wrapper(data-aos="zoom-in"  data-aos-duration="2000")
					h3
						i.lnr.lnr-clock
						| Giờ mở cửa
					p Mở cửa tất cả các ngày trong tuần
					p Sáng: 
						span 8h00 – 11h00
					p Chiều:
						span  13h30 – 16h30
			.col-lg
				.info_wrapper(data-aos="zoom-in"  data-aos-duration="2000")
					h3
						i.lnr.lnr-users
						| phí tham quan
					p 
						span 30.000 
						| đồng/ lượt
			.col-lg
				.info_wrapper(data-aos="zoom-in"  data-aos-duration="2000")
					h3
						i.lnr.lnr-mic
						| đăng ký thuyết minh
					p Phòng trưng bày - Giáo dục - Truyền thông 
					p Điện thoại: 
						span 0283.8290 268


