section.canhcam-intro-7#intro-6
	.container
		.row
			.col
				h3.head-title Ủng hộ
		.row
			.col
				.table-responsive
					table.table-bordered
						thead
							tr
								th lorem
								th lorem
								th lorem
						tbody

						-for (var x = 0 ; x < 10 ; x++)

							tr
								td lorem
								td lorem
								td lorem
		.row
			.col-2.mx-auto
				a(href="#").btn-more Xem Tất Cả
