ul.nav.tour
	li.nav-item
		a(href="#").nav-link.active Chính sách
	li.nav-item
		a(href="#").nav-link Phương hướng
	li.nav-item
		a(href="#").nav-link Bản đồ
	li.nav-item
		a(href="#").nav-link Dịch vụ
	li.nav-item
		a(href="#").nav-link Đền Hùng
