section.canhcam-intro-5#intro-4
	.container
		.row
			.col-md-4
				h3.title Các phòng chuyên môn
			.col-md-4
				.depart
					h4 Phòng Hành Chính - Tổng hợp
					p Điện thoại: 028 38258 783
					p Email: bt.ls.svhtt@tphcm.gov.vn
				.depart
					h4 Phòng Hành Chính - Tổng hợp
					p Điện thoại: 028 38258 783
					p Email: bt.ls.svhtt@tphcm.gov.vn
			.col-md-4
				.depart
					h4 Phòng Sưu tầm  - Thư viện, tư liệu
					p Điện thoại: 028 38220 744
					p Email: phongsuutambtls@gmail.com
				.depart
					h4 Phòng Trưng bày  - Giáo dục  Truyền thông 
					p Điện thoại: 028 38290268
					p Email: btls.tbgdtt@gmail.com
