<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu chính" value="1" resourcefile="" />
      <add name="Menu footer" value="2" resourcefile="" />
      <add name="TopMenu" value="4" resourcefile="" />
      <add name="Gallery Menu" value="8" resourcefile="" />
      <add name="Trưng bày Menu" value="16" resourcefile="" />
      <add name="Trưng Bày Ngắn Hạn" value="32" resourcefile="" />
      <add name="Trưng Bày Thường Xuyên" value="64" resourcefile="" />
      <add name="Hội Thi nav" value="128" resourcefile="" />
      <add name="Tham Quan nav" value="256" resourcefile="" />
      <add name="Giới Thiệu nav" value="512" resourcefile="" />
      <add name="Hiện vật tiêu biểu nav" value="1024" resourcefile="" />
      <add name="Trưng bày thường xuyên nav" value="2048" resourcefile="" />
      <add name="Trưng bày ngắn hạn nav" value="8192" resourcefile="" />
      <add name="Trang chủ bộ sưu tập" value="4096" resourcefile="" />
    </position>

</settings>
