section.canhcam-tour-2
	.container
		.row
			.col
				h2.head-title Chính sách miễn giảm phí tham quan
		.row
			.col-lg-6
				.detail(data-aos="fade-up"  data-aos-duration="2000")
					h4 Miễn phí tham quan đối với các trường hợp sau:
					ul.list-unstyled 
						li Trẻ em dưới 6 tuổi
						li Người khuyết tật đặc biệt nặng quy định tại Khoản 1 – Điều 11 – Nghị định số 28/2012/NĐ-CP ngày 10/4/2012 của Chính phủ; 
						li Hộ nghèo: quy định tại Quyết định số 59/2015/QĐ-TTg ngày 19/11/2015 của Thủ tướng Chính phủ.
					h4 Giảm 50% phí tham quan đối với các trường hợp sau:
					ul.list-unstyled 
						li Trẻ em từ 6 tuổi đến dưới 16 tuổi.
						li Sinh viên, học sinh đang học tại các trường thuộc hệ thống giáo dục quốc dân Việt Nam.
						li Người cao tuổi: là công dân Việt Nam từ đủ 60 tuổi trở lên, quy định tại Điều 2 - Luật Người cao tuổi.
						li Người khuyết tật nặng: quy định tại Khoản 2 – Điều 11 – Nghị định số 28/2012/NĐ-CP ngày 10/4/2012 của Chính phủ. 
			.col(data-aos="fade-up"  data-aos-duration="2000")
				figure(bg-img='./img/07_chinhsach/chinhsach_1.png')
					img.w-100.d-lg-none(src="./img/07_chinhsach/chinhsach_1.png", alt="")
		.row
			.col.detail_2(data-aos="fade-up"  data-aos-duration="2000")
					p Các đối tượng được hưởng chính sách ưu đãi hưởng thụ văn hóa theo Điều 2 - QĐ170/2003/QĐ-TTg ngày 14/8/2003 của Thủ tướng Chính phủ gồm: 
					ul.list-unstyled 
						li Nhân dân ở các xã đặc biệt khó khăn miền núi và vùng sâu, vùng xa được quy định trong Chương trình 135 của Chính phủ;
						li Người có công với cách mạng;
						li Cán bộ lão thành cách mạng; cán bộ ''tiền khởi nghĩa'';
						li Thân nhân liệt sĩ;
						li Anh hùng Lực lượng vũ trang, Anh hùng Lao động, Bà mẹ Việt Nam anh hùng;
						li Thương binh, người hưởng chính sách như thương binh, bệnh binh;
						li Các đối tượng được chăm sóc tại các cơ sở nuôi dưỡng, điều dưỡng thương, bệnh binh và người có công;
						li Người thuộc diện chính sách xã hội;
						li Người tàn tật, người già cô đơn;
						li Các đối tượng được chăm sóc tại cơ sở bảo trợ xã hội;
						li Học sinh các trường phổ thông dân tộc nội trú.
						li Ghi chú: Đối với các trường hợp miễn, giảm phải xuất trình giấy tờ chứng minh thuộc các đối tượng được miễn, giảm theo quy định.
					p
						span Ghi chú:  
						| Đối với các trường hợp miễn, giảm phải xuất trình giấy tờ chứng minh thuộc các đối tượng được miễn, giảm theo quy định.

