section.canhcam-intro-3#intro-2
	.container
		.row.mess
			.col
				h3.head-title Thông điệp của 
					span Giám đốc
		.row.quote
			.col-lg-6
				p 
					var Quý khách thân mến,
				p  Để hiểu được lịch sử và văn hóa của một vùng đất, một quốc gia, nơi đầu tiên cần phải ghé thăm chính là các bảo tàng - 
					span nơi bảo tồn và phát huy giá trị di sản văn hóa địa phương. 
					| Bảo tàng Lịch sử Thành phố Hồ Chí Minh là một điểm đến hấp dẫn mang đầy đủ những đặc trưng như vậy. 

				p Đến với Bảo tàng Lịch sử, quý khách sẽ được quan chiêm vẻ đẹp của Tòa nhà Bảo tàng Lịch sử - một kiến trúc cổ do người Pháp xây dựng gần một thế kỷ (1929) mang đặc trưng
					b phong cách “Đông Dương cách tân”.  
					| Chỉ cần 365 bước chân dạo quanh Bảo tàng Lịch sử, du khách có thể đi suốt chiều dài hàng ngàn năm lịch sử và văn hóa Việt Nam, tìm hiểu về đặc trưng văn hóa vùng đất phương Nam thông qua hệ thống các phòng trưng bày cố định và chuyên đề đặc biệt. Bộ sưu tập chọn lọc từ trên 
					b 43.000 tư liệu, hiện vật
					| của Bảo tàng, trong đó có 
					b 11 bảo vật quốc gia 
					| được giới thiệu tại các phòng trưng bày sẽ là những món quà tri thức lịch sử- văn hóa vô giá.
			.col-lg-6
				figure(bg-img='./img/01_gioithieu/gioithieu_giamdoc.png')
					img.w-100.d-lg-none(src='./img/01_gioithieu/gioithieu_giamdoc.png', alt='')
		.row.quote2
			.col
				p Bảo tàng Lịch sử Thành phố Hồ Chí Minh đã và đang nỗ lực cung cấp cho du khách nhiều hơn những trải nghiệm văn hóa giải trí và thông tin. Các bộ sưu tập lớn của bảo tàng sẽ được trình bày trong các màn hình chạm tại các phòng trưng bày cố định và trình chiếu trong phòng media của bảo tàng. Các cuộc trưng bày chuyên đề đặc biệt và các chương trình giáo dục thú vị cho trẻ em sẽ được xây dựng và làm mới. Ngoài ra, bảo tàng đã và đang tiếp tục nâng cấp cơ sở vật chất, trưng bày và dịch vụ tốt hơn, để  phục vụ cho nhu cầu thưởng lãm, học tập và giải trí của du khách. 

				p Những năm gần đây, Bảo tàng Lịch sử tham gia nhiều cuộc trưng bày lớn ở nước ngoài: 
					b Áo, Bỉ, Hàn Quốc, Mỹ…
					| để quảng bá văn hóa Việt Nam ở các nơi khác trên thế giới. Những cuộc trưng bày này giúp tăng khả năng quảng bá di sản văn hóa Việt Nam trên khắp thế giới, đồng thời cho thế giới tiếp cận được các giá trị di sản văn hóa riêng biệt từ các nền văn minh đa dạng. Những nỗ lực trong hội nhập với văn hóa thế giới của Bảo tàng Lịch sử cũng không ngoài mục đích bảo tồn và phát huy bản sắc văn hóa dân tộc trước xu hướng toàn cầu hóa. 

				p Bảo tàng Lịch sử sẽ tiếp tục nâng cao vị thế của mình với tư cách là một tổ chức văn hóa, khoa học và giáo dục, điểm đến không thể thiếu trong hành trình du lịch di sản, và trở thành một bảo tàng mà tất cả du khách đều có thể có được những trải nghiệm đầy ý nghĩa. Bảo tàng Lịch sử hy vọng quý khách sẽ có một thời gian đáng nhớ với gia đình và bạn bè trong khi trải nghiệm các chương trình văn hóa của Bảo tàng. 

				p Cảm ơn quý khách.

				p
					b Hoàng Anh Tuấn
				p Giám đốc Bảo tàng  Lịch sử TP.HCM
	//- ul.navbar-nav
	//- 	li.nav-item
	//- 		a(href="#pc-2").nav-link 02
	//- 			.hidden Ưu đãi
	//- 	li.nav-item
	//- 		a(href="#pc-3").nav-link 03
	//- 			.hidden Nổi bật
	//- 	li.nav-item
	//- 		a(href="#pc-4").nav-link 04
	//- 			.hidden Thẻ
//- fff9ef
