footer.canhcam-footer-6
	article.fill
		.container
			.row
				.col-12.col-lg-4.col-xl-6
					.link
						ul.list-unstyled.list-inline
							li.list-inline-item
								a(href="#") Hỗ trợ khách hàng
							li.list-inline-item
								a(href="#") Tin tức
							li.list-inline-item
								a(href="#") Liên hệ
				.col
					.input-group
						input.form-control(type='text', placeholder="Nhập Email để nhận những thông tin mới nhất từ bảo tàng lịch sử Tp. HCM...", aria-label="Search", aria-describedby='basic-addon2')
						.input-group-append
							button.btn.btn-primary(type='submit') GỬI
	
	article.info
		.container
			figure.wrapper
				.img
					img(src="./img/_global/logo.png", alt="")
				figcaption
					p Số 2 Nguyễn Bỉnh Khiêm, Q. 1, Tp. HCM 
						span - Điện thoại: 
						| (028) 3829 8146 - 3829 0268 - 
						span Fax: 
						| (028) 3825 8784
						span - Email: 
						| bt.ls.svhtt@tphcm.gov.vn
					p Copyright © 2018 BẢO TÀNG LỊCH SỬ Tp. HỒ CHÍ MINH. All rights reserved. Design by Canh Cam.

		//- .copyright
		//- 	.container
		//- 		.row.align-items-center
		//- 			.col-md.text-center.text-md-left.mb-4.mb-md-0
		//- 				nav.list-group.text-center.text-md-left
		//- 					.list-group-item
		//- 						a(href="#") Textile lorem hh
		//- 					.list-group-item
		//- 						a(href="#") Caps jgj g g gg
		//- 					.list-group-item
		//- 						a(href="#") Golf Bags
		//- 			.col-md-auto.text-center.text-md-right 2018 by Canh Cam. All right reserved. designed by Canh Cam
