section.canhcam-home-3
	.container
		.row
			.col.gallery
				h3.text-left.title Bộ sưu tập
					a(href="#")
						i.fas.fa-plus-square
		.row.pb-5
			- for(var x = 0; x < 3; x ++)
				.col-lg-4
					a.link-item(href="#")
						figure.item
							.img(data-aos="zoom-in" data-aos-duration="2000")

								img.w-100(src='./img/home/home_bosuutap_3.png', alt='')
							figcaption(data-aos="fade-down" data-aos-duration="1000")

								h4 CỔ KHÍ minh mạng
								p Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn. Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in ấn từ những năm 1500

